.Mars-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mars-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    width: 400px;
    height: 180px;
    padding: 10px;
    background-color: #334155;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 6px;
}

.mars-img{
    padding: 8px;
    height: 400px !important;
    width: 500px !important;
}
