.asteroid-container{
    display: flex !important;
    flex-direction: column;
    border: solid 1px #71717a;
    border-radius: 20px;
    padding: 10px;
}

.asteroid-Info{
    width: 400px;
    height: 100px;
    padding: 10px;
    border-top: solid 1px #71717a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    margin-top: 80px
}


.title{
    font-size: x-large;
}

.asteroid-name{
    font-size: x-large;
}


.asteroid-size{
    font-size: larger;
    margin-top: 8px;
    margin-bottom: 8px;
}

.size{
    margin-left: 10px;
}


.asteroid-approach{
    font-size: larger;
    margin-top: 8px;
    margin-bottom: 8px;
}

.margin{
    margin-bottom: 8px;
}


.asteroid-velocity{
    font-size: larger;
    margin-top: 8px;
    margin-bottom: 8px;
}


.asteroid-id{
    font-size: larger;
    margin-top: 8px;
    margin-bottom: 8px;
}

.id{
    margin-left: 10px;
}

select{
    height: 40px;
    border-radius: 8px;
    border: solid 1px #71717a;
}

h2{
   padding-left: 8px;
}