.botm-nav{
    display: flex;
    background-color: #d1d5db;
    height: 80px;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

li {
    color: #18181b;
    font-style: oblique;
    font-weight: 600;
    cursor: pointer;
    border: solid 1px #18181b;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
}

.top {
    box-shadow: 0 0px 10px 0px #09090b;
}