.botm-nav{
    display: flex;
    background-color: #020617;
    height: 70px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 0;
}

.nav-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

li {
    color: beige;
    cursor: pointer;
    margin: 22px;
}



