.Photo-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


img{
    object-fit: cover;
    border-radius: 10px;

}

.Info-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info{
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 90px;
    border: solid 1px #d1d5db;
    border-radius: 10px;
    padding: 10px;
}


.inline{
    border-bottom: solid #d1d5db 1px;
    margin-bottom: 20px;
}

h2{
   color: #d1d5db;
}



h1{
    color: #d1d5db;
    font-weight: 600 !important;
    margin-left: 10px !important;
}

.photo-date {
    font-size: xx-large !important;
}


